/** SCSS Containers
------------------------------ */

.container-2 {
  max-width: 1434px;
  margin: 0 auto;
}
.container-1700 {
  max-width: 1700px;
  margin: 0 auto;
}
.entry-content {
  max-width: 1700px;
  margin: 0 auto;
}
