/** SCSS Front Page
------------------------------ */
.home {
  .site-container {
    .site-inner {
      .content-sidebar-wrap.row {
        background-image: url(images/svg/african_pattern-2.svg);
        background-position: center;
        background-repeat: repeat-y;
      }
    }
  }
}

#background-one {
  background-image: url(images/svg/yellow_circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 100%;
  z-index: -1;
  top: 106px;
  width: 122%;
  margin-left: -209px;
}


.news-feed-title {
  h2.news-feed {
    color: $navred;
    font-size: 4rem;
  }
}

#fp-news {

  .news-readmore {
    margin: 1.618em auto 0 auto;
    display: block;
  }

  .news-excerpt {

    .featured-image a img {
      width: 100%;
      margin: 0 auto;
      display: block;
    }

  }

}

.frontpage-two {
  background-color: $white;
  .container-2 {
    section {
      flex-basis: 100%;
      h4 {
        font-size: 3rem;
        color: $navred;
      }
    }
  }
}
.frontpage-three {

  .background-graphic {
    background-image: url(images/svg/green_circle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -717px;
    margin-left: -98px;
    height: 1000px;
    width: 111%;
    position: absolute;
    z-index: -1;
  }


  .container-2 {
    display: flex;
    align-items: center;
    section {
      flex-basis: 100%;
    }
  }
}
