/** SCSS Hero Slider
-------------------------- */
#wstTopSlider {
  .carousel-inner {
    .carousel-item {
      .carousel-caption {
        right: 20%;
        left: 20%;
        bottom: 35%;
        h5 {
          font-size: 3rem;
        }
      }
    }
  }
}
